@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    background-image: url(BGimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.welcomearea {
    backdrop-filter: blur(9px);
    font-family: "Roboto Condensed";
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.177);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
    max-height: 12.5rem;
    position: relative;
    top: 14rem;
    left: 35rem;
    animation: entrywel 2s ease 0s 1 normal both;
}

.welcomearea.go {
    display: none;
    animation: leaving 2s linear 0s 1 normal both;
}

.welcome {
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    text-align: center;
}

.welcomearea p {
    color: white;
    text-align: center;
}

.welcomearea button {
    align-self: center;
    margin: 10px;
    padding: 10px;
    width: 5rem;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.207);
    border-radius: 22px;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    width: 90px;
}

.next:hover {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    transform: scale(1.1);
    border: none;

}

.mainsite {
    font-family: "Roboto Condensed";
    display: none;
}

.mainsite.visibleone {
    display: block;
}

/* Making main(box) UI */
.main {
    border: 2px solid rgba(244, 241, 241, 0.193);
    width: 18rem;
    max-height: 15rem;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 13rem;
    left: 38rem;
    color: rgb(255, 255, 255);
    gap: 10px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(9px);
    transition: top 2s ease, left 2s ease, transform 2s ease;
    animation: entrymain 2s ease 0s 1 normal both;
}

.main.moved {
    top: 13rem;
    left: 22rem;
}


/* Heading background */
.bound {
    border-radius: 10px;
    background-color: none;
}

/* text area UI  */
#area {
    height: 6rem;
    resize: none;
    background-color: rgba(225, 225, 225, 0);
    color: white;
    outline: none;
    border-top: 2px solid rgba(255, 255, 255, 0.197);
    border-bottom: 2px solid rgba(255, 255, 255, 0.197);
    border-left: none;
    border-right: none;
}

/* Submit button UI */
.submit {
    align-self: center;
    margin: 10px;
    padding: 10px;
    width: 5rem;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.207);
    border-radius: 22px;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    width: 70px;
}

.submit:hover {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    transform: scale(1.1);
    border: none;
}

/* Todos List UI */
.list {
    backdrop-filter: blur(9px);
    width: 15rem;
    overflow-y: auto;
    min-height: 20rem;
    position: absolute;
    bottom: 15rem;
    left: 52rem;
    padding: 10px;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.193);
    border-radius: 22px;
    color: #ffffff;
    font-size: 18px;
    display: none;
    animation: List 2s linear 0s 1 normal forwards;
}

.checked {
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}

/*Todo list heading*/
.head {
    text-align: center;
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 7px;
}

/* List visbility */
.list.visibletwo {
    display: block;
}

.flex{
    display: flex;
    justify-content: center;
}

.editbtn{
    position: fixed;
    cursor: pointer;
    border-radius: 110px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    flex-shrink: 0;
}


/* CLear button UI */
.Clean {
    position: absolute;
    bottom: 10px;
    right: 15px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    color: black;
    border-radius: 18px;
    cursor: pointer;
}

/* Adding Animations */
@keyframes entrymain {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes List {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes entrywel {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes leaving {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}



/* Adding responsiveness */
@media (width < 450px) {
    body{
        margin: 0;
        padding: 0;
    }
    .welcomearea {
        top: 17rem;
        left: 1rem;
    }

    .main {
        top: 17rem;
        left: 2rem;
    }

    .main.moved {
        top: 5rem;
        left: 2rem;
    }

    .list {
        top: 21rem;
        left: 2.8rem;
    }
}

@media (width>450px) and (width < 800px) {
    .welcomearea {
        top: 19rem;
        left: 10rem;
    }

    .main {
        top: 19rem;
        left: 8rem;
    }
    .main.moved {
        top: 5rem;
        left: 8rem;
    }

    .list {
        top: 25rem;
        left: 7rem;
    }
}